
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Roles OR edit apps on the links below.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
    <h3>
        <li>@Html.ActionLink("Manage Apps", "Index", "Apps")</li>
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) ,you can view the apps on the link below.  </h2>
    <br />
    <h3>
        <li>@Html.ActionLink("View Apps", "Index", "Apps")</li>
    </h3>


}

