
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. You can edit apps at the link below.</h1>
    @*<h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>*@
    <h3>
        <li>@Html.ActionLink("Manage Apps", "Index", "Apps")</li>
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) ,you can view the apps on the link below.  </h2>
    <br />
    <h3>
        <li>@Html.ActionLink("View Apps", "Index", "Apps")</li>
    </h3>


}

